<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='itv.components.header-lp'}"/>
<header class="header-lp">
    <div class="header-lp__container">
        <div class="header-lp__left-group">
            <div class="header-lp__logo">
                <img src="${properties.logoPath || '/content/dam/itv/logo-buycar.png'}" alt="BuyCar Logo">
                <span class="header-lp__logo-text">BuyCar</span>
            </div>
            
            <nav class="header-lp__nav">
                <sly data-sly-resource="${'navigation' @ resourceType='itv/components/navigation'}"></sly>
            </nav>
        </div>

        <div class="header-lp__right-group">
            <a href="tel:999999999" class="header-lp__button">
                <img src="/content/dam/itv/whatsapp-icon.png" alt="WhatsApp">
                <span>999 999 999</span>
            </a>
        </div>
        <div class="header-lp__burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>