.cardlist-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 393px;

    .cardlist__container {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important; 
        justify-content: flex-start; 
        align-items: stretch;
        width: 100%;
        max-width: 1544px; // 5 cards (264px) + 4 gaps (56px) = 1544px Así en 1920px caben todas en una fila, pero si bajas de 1544px, empiezan a saltar.
        
        &.vertical-gap { 
            gap: 56px;
            row-gap: 56px; 
            justify-content: flex-start;
        }

        &.horizontal-gap { 
            gap: 25px; 
            row-gap: 25px;
            justify-content: center;
        }

        // --- AJUSTES PARA TABLET (En 1024px (264*3 + 56*2 = 904px) entran 3 arriba y las 2 abajo) ---
        @media (max-width: 1024px) {
            
            &.vertical-gap {
                justify-content: flex-start;
            }

            &.horizontal-gap {
                justify-content: center;
            }
        }

        // --- AJUSTES PARA MOVIL (bajaN y hacen scroll) ---
        @media (max-width: 392px) {
            flex-wrap: nowrap !important;
            overflow-x: auto;
            padding-bottom: 9px;
        }
    }

    // --- CARD VERTICAL (Tamaño Fijo e Invariable) ---
    .cardlist__card.vertical {
        flex: 0 0 264px; 
        width: 264px;
        background: #fff;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 58px;
        border-radius: 15px;

        .cardlist__image-container {
            border-radius: 15px;
            width: 100%;
            height: 170px;
            overflow: hidden;

            .cardlist__image { 
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
            }
        }
        
        .cardlist__content {
            display: flex; 
            flex-direction: column; 
            flex-grow: 1;

            .cardlist__title { 
                font-size: 18px; 
                font-weight: bold; 
                color: #000; 
                margin: 15px 0 8px 0; 
            }

            .cardlist__author { 
                font-size: 14px; 
                color: #000; 
                margin-bottom: 20px; 
            }

            .cardlist__button-wrapper { 
                margin-top: auto; 

                .cardlist__button { 
                    background-color: #46b0ee; 
                    color: #fff; 
                    padding: 10px 20px; 
                    text-decoration: none; 
                    display: inline-block; 
                    border-radius: 20px; 
                    text-align: center; 
                    font-weight: bold; 
                    width: 50%; 
                    box-sizing: border-box; 
                } 
            }
        }
    }

    // --- CARD HORIZONTAL (Tamaño Fijo) ---
    .cardlist__card.horizontal {
        flex: 0 0 365px;
        width: 365px;
        background: #fff;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 58px;
        border-radius: 15px;

        .cardlist__image-container {
            width: 100%;
            height: 120px;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 12px;

            .cardlist__image { 
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
            }
        }

        .cardlist__content {
            display: flex;
            flex-direction: column;

            .cardlist__title { 
                font-size: 16px; 
                font-weight: bold; 
                color: #000; 
                margin: 0 0 4px 0; 
                line-height: 1.2; 
            }

            .cardlist__author { 
                font-size: 14px; 
                color: #666; 
                margin: 0; 
            }

            .cardlist__button-wrapper { 
                display: none !important; 
            }
        }
    }
}