.cmp-super-title {
  font-family: Arial, Helvetica, sans-serif;
}

.cmp-super-title--arial {
  font-family: Arial, Helvetica, sans-serif;
}
.cmp-super-title--times {
  font-family: 'Times New Roman', Times, serif;
}