/* 1. RESET Y ESTRUCTURAS FIJAS */
body, html { 
    margin: 0; 
    padding: 0; 
}

.cmp-experiencefragment--header{
    background-color: rgb(79, 153, 244) !important;
}

.cmp-experiencefragment--footer{
    background-color: rgb(181, 79, 244) !important;
}

/* --- COLORES SIEMPRE VISIBLES --- */
.aem-GridColumn--default--6:nth-of-type(1) {
    background-color: #f1f170 !important;
    min-height: 300px;
}

/* EL CONTENEDOR ROSA (Creando el margen interno) */
.aem-GridColumn--default--6:nth-of-type(2) {
    background-color: #FFC0CB !important; 
    min-height: 300px;
    padding: 20px !important;      
    box-sizing: border-box !important;    
}

/* --- 2. DESKTOP (Hijos al 100% del Root ajustado) --- */
@media (min-width: 1025px) {
    .aem-GridColumn--default--6:nth-of-type(1) {
        width: 50% !important; /* Ocupa exactamente la mitad */
        margin: 0 !important;  /* Sin márgenes para que se pegue al borde */
        float: left;
    }
    .aem-GridColumn--default--6:nth-of-type(2) {
        width: 50% !important; /* Ocupa la otra mitad */
        margin: 0 !important;
        float: left;
    }
}

/* --- 3. TABLET (Márgenes de 16px) --- */
@media (max-width: 1024px) and (min-width: 769px) {
    .aem-GridColumn--default--6:nth-of-type(1) {
        margin-left: 16px !important;
        width: calc(50% - 16px) !important;
        float: left;
    }
    .aem-GridColumn--default--6:nth-of-type(2) {
        margin-right: 16px !important;
        width: calc(50% - 16px) !important;
        float: left;
    }
}

/* --- 4. MÓVIL (Apilados y 16px) --- */
@media (max-width: 768px) {
    .aem-GridColumn--default--6 {
        width: calc(100% - 32px) !important;
        margin: 10px 16px !important;
        float: none !important;
        display: block;
    }
}