/* 1. RESET Y ESTRUCTURAS FIJAS 
body{
    min-width: 393px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    overflow-x: auto !important; 
    position: relative;
    width: 100%;
}


.root.container {
    margin-top: 0 !important;
    padding-top: 0 !important;
    background-color: white !important;
    min-width: 100%;
}

.cmp-experiencefragment--header {
    background-color: rgb(79, 153, 244) !important;
    position: relative;
    z-index: 10; 
    margin: 0 !important;
}

.cmp-experiencefragment--footer{
    background-color: rgb(181, 79, 244) !important;
}*/

/* --- COLORES SIEMPRE VISIBLES --- 
.aem-GridColumn--default--6:nth-of-type(1) {
    background-color: #f1f170 !important;
    min-height: 300px;
    margin-bottom: 58px !important;
}*/

/* EL CONTENEDOR ROSA (Creando el margen interno) 
.aem-GridColumn--default--6:nth-of-type(2) {
    background-color: #FFC0CB !important; 
    min-height: 300px;
    padding: 20px !important;      
    box-sizing: border-box !important;    
    margin-bottom: 58px !important;
}*/

/* --- CONFIGURACIÓN DEL CONTENEDOR PADRE (12 COL) --- */
/* ✅ El padding va al contenedor real del contenido 
.container.responsivegrid.aem-GridColumn--default--12 > .cmp-container {
    padding: 60px 20px !important;
    box-sizing: border-box !important; 
    background-color: #90ee90 !important; 
    display: block !important;
    margin-bottom: 58px !important;
}*/

/* ✅ Para que el grid NO se “coma” el padding con gutters 
.container.responsivegrid.aem-GridColumn--default--12 > .cmp-container > .aem-Grid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 1025px) {
    .responsivegrid.aem-GridColumn--default--12 {
        display: flow-root !important;
        margin-top: 40px !important;
        float: none !important;
        clear: both;
        margin-left: clamp(16px, 16.071vw - 148.57px, 160px) !important;
        margin-right: clamp(16px, 16.071vw - 148.57px, 160px) !important;
        width: calc(100% - clamp(32px, 32.143vw - 297.14px, 320px)) !important;
    }
}*/

/* --- 3. TABLET (Márgenes de 16px en el contenedor padre) --- 
@media (max-width: 1024px) and (min-width: 769px) {
    .responsivegrid.aem-GridColumn--default--12 {
       
        margin-left: 16px !important;
        margin-right: 16px !important;
        width: calc(100% - 32px) !important;
        
      
        margin-top: 0 !important; 
    }
}*/

/* --- 4. MÓVIL (Apilados y 16px en el contenedor padre) --- 
@media (max-width: 768px) {
    .responsivegrid.aem-GridColumn--default--12 {
        margin-left: 16px !important;
        margin-right: 16px !important;
        width: calc(100% - 32px) !important;
        
        
        margin-top: 0 !important; 
    }

    .aem-GridColumn--default--6 {
        width: 100% !important;
        margin: 10px 0 !important; 
    }
}*/