.cmp-supertitle{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
} 

.cmp-supertitle--arial{
    font-family: Arial, Helvetica, sans-serif;    
}

.cmp-supertitle--times{
    font-family: 'Times New Roman', Times, serif;    
}
.cmp-supertitle--size__default{
    font-size: 40px;
}
.cmp-supertitle--size__large{
    font-size: 65px;
}
.cmp-supertitle--size__small{
    font-size: 25px;
}

.cmp-supertitle--reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.cmp-supertitle--reveal.is-visible {
    opacity: 1;
    transform: translateY(0);
}
.cmp-supertitle--neon {
    text-align: center;
    padding: 50px 0;
}

.cmp-supertitle--neon .cmp-title__text {
    display: block;
    padding: 0;
    background: none; 
    border-radius: 0;

    font-family: Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease;

    text-shadow:
    2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    0 0 15px #000, 0 0 20px #000;
}

.cmp-supertitle--neon:hover .cmp-title__text {
    transform: scale(1.03);

    -webkit-text-fill-color: transparent;

    text-shadow:
    0 0 1px #fff,
    0 0 6px #fff,
    0 0 8px #fff,
    0 0 12px currentColor, 
    0 0 12px currentColor,
    0 0 15px currentColor, 
    0 0 15px currentColor,
    0 0 20px currentColor, 
    0 0 20px currentColor,
    0 0 30px currentColor, 
    0 0 30px currentColor,
    0 0 35px currentColor,
        
    2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    0 2px 0 #000, 0 -2px 0 #000, 2px 0 0 #000, -2px 0 0 #000,
    0 0 15px #000, 
    0 0 15px #000,  
    0 0 20px #000, 
    0 0 20px #000,
    0 0 30px #000, 
    0 0 30px #000,
    0 0 50px #000,
    0 0 50px #000,
    0 0 60px #000;


}
