.cmp-supertitle{
    font-family: Arial, Helvetica, sans-serif;
} 

.cmp-supertitle--arial{
    font-family: Arial, Helvetica, sans-serif;    
}

.cmp-supertitle--times{
    font-family: 'Times New Roman', Times, serif;    
}
