<div class="${properties.zoom ? 'cmp-superimage--zoom' : ''}" data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <img src="${image.src}"
         alt="${image.alt}"
         style="border-radius: ${properties.border @ context='styleString'}"/>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !image.src, classAppend = 'cq-dd-image'}"></sly>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='itv.components.superimage'}"></sly>