<div class="cmp-superimage ${properties.zoom ? 'cmp-superimage--zoom' : ''}" 
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    
    <sly data-sly-test="${properties.fileName}">
        <img id="imagen" 
             src="${resource.path}/file.img.${properties.fileName @ context='uri'}"
             alt="${properties.alt @ context='html'}"
             style="border-radius: ${properties.border @ context='styleString'}"/>
    </sly>

    <sly data-sly-test="${properties.fileReference}">
        <img id="imagen" 
             src="${properties.fileReference @ context='uri'}"
             alt="${properties.alt @ context='html'}"
             style="border-radius: ${properties.border @ context='styleString'}"/>
    </sly>
    
    <sly data-sly-call="${templates.placeholder @ isEmpty=!properties.fileName && !properties.fileReference, classAppend='cq-dd-image'}"></sly>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.all @ categories='itv.components.superimage'}"></sly>